<div id="pizza42-header">
  <div style="text-align:center">
    <h2>
      Welcome to Pizza42<span *ngIf="name">, {{name}}</span>!
    </h2>
  </div>
  <div id="menu-bar">
    <span>
      <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</button>
      <button *ngIf="!authService.isAuthenticated()" (click)="authService.login()">Login</button>
    </span>
  </div>
</div>