<div class="header">
  Select the pizzas you wish to order <br/><span>(your email must be validated to submit)</span>
</div>
<div id="order-form">
  <div *ngFor="let pizza of pizzas; even as _evn" class="is-even-{{_evn}}">
    {{pizza.name}} ({{pizza.toppings}}): ${{pizza.price}}
    <a class="add-pizza-link" (click)="addToOrder(pizza)">(add)</a>
  </div>
</div>
  <div id="ordered-pizzas">
    Order total: <span [textContent]="orderAmount">{{orderAmount}}</span>
    <button (click)="submitOrder()" [disabled]="!orderedPizzas.length">Submit your Order</button>
    <div *ngFor='let pizza of orderedPizzas'> {{pizza.name}} (${{pizza.price}})
      <input type="hidden" name="pizzas" value="{{pizza.id}}">
    </div>
  </div>
  <div *ngIf="error" id="error-box">
    {{error}}
  </div>
  <div *ngIf="success">
    {{success}}
  </div>