div.header span {
    font-size: 80%;
}

#order-form {
    font-size: 80%;
    margin: 0.5em 0;
}

#ordered-pizzas {
    font-size: 80%;
}

#ordered-pizzas span {
    padding: 0 1em;
}

#ordered-pizzas button+div {
    margin-top: 0.5em;
}

#ordered-pizzas div {
    font-size: 90%;
}

#error-box {
    border: 1px solid gray;
    color: red;
    font-size: 90%;
    padding: 0.15em 0.25em;
    margin-top: 0.5em;
}

.add-pizza-link {
    color: #00A;
    font-size: 80%;
}

.add-pizza-link:hover {
    text-decoration: underline;
}

div.is-even-false {
    background-color: aliceblue;
}