<div *ngIf="authService.isAuthenticated()">
    Thank you for logging in! Now you can 
    <a routerLink="/order">
      go to the pizza menu
    </a>
    in order to place your order.
  </div>
  <div *ngIf="!authService.isAuthenticated()">
    Please log in to order pizzas
  </div>